{% extends "blog/layout.html" %}
{% load static %}
{% block body %}

<div class="container massive-margin text-center">
		<div class="row mt-5 mb-5">
                {% if categories %}
                        {% for article in categories %}
                        <h3 class="col-12 "><a class="fs-1 fw-bolder text-primary-emphasis nav-font" href="{% url 'category' article.0 %}">{{article.0}}</a></h3>
                            {% for artie in article.1 %}
                                <div class="col-md-4 text-start">
                                    <div  class="card m-3 rounded shadow bg-body-tertiary">
                                        <img class="card-img-top card-display" src={{artie.cover.url}} alt="" class="w-100">
                                        <div class="card-body">
                                            <h5 class="card-title"> {{artie.title}} </h5>
                                            <p class="card-text"><small class="text-body-secondary">Created: {{artie.created}}</small></p>
                                            <a href="{% url 'read' artie.id %}"> read more...</a>
                                        </div>
                                    </div>
                                        
                                </div>
                            {% endfor %}
                        {% endfor %}
                {% endif %}
                {% if category %}
                    <h3 class="fs-1 nav-font fw-bolder text-primary-emphasis">{{category}}</h3>
                    {% for article in articles %}
                        <div class="col-md-4 text-start">
                            <div class="card m-3 rounded shadow bg-body-tertiary">
                                    <img class="card-img-top card-display" src="{{article.cover.url}}" alt="" class="w-100">
                                    <h5 class="card-title"> {{article.title}} </h5>
                                    <p> <small class="card-text">{{article.created}}</small></p>
                                <a href="{% url 'read' article.id %}">read more... </a>
                            </div>

                        </div>
                    {% endfor %}
                {% endif %}

                {% if error %}
                    <h1>{{error}}</h1>
                {% endif %}
        </div>		
</div>	


{% endblock %}