{% extends "blog/layout.html" %}
{% load static %}
{% block title %} Doctors Leadership Index {% endblock %}
{% block body %}
<!-- TODO: complete the landing Page -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active max-height-carousel" >
      <img src="{% static 'blog/new_try_photo2.png' %}" class="d-block w-100 h-50"
        alt="members of doctors leadership academy">
      <div class="container">
        <div class="carousel-caption center-caption">
          <h1 class="fs-1 fw-bolder">Doctor's Leadership Academy</h1>
          <p class="opacity-100 fw-medium fw-lighter fst-italic">Helping Young Doctors Navigate their Careers and Helping Society Understand health.</p>
          <p><a class="btn btn-lg btn-primary fw-semibold shadow" target="_blank" href="#">Join Us</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item max-height-carousel">
      <img src="{% static 'blog/new_try_photo3.png' %}" class="d-block w-100 h-50"
        alt="members of doctors leadership academy">
      <div class="container">
        <div class="carousel-caption center-caption">
          <h1 class="fs-1 fw-bolder">Mentorhsip At It's Best</h1>
          <p class="opacity-100 fw-medium fw-lighter fst-italic">Have access to a great array of Mentors to help you grow in your career</p>
          <p><a class="btn btn-lg btn-primary fw-semibold shadow" href="#">Become An Ambassador</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<section id="mentorship">
  <div class="container-fluid">
    <div class="row mx-5">
      <div class="col-sm-12 text-center mb-2 mb-md-5">
        <h1 class="fs-1 fw-bolder text-primary-emphasis">Mentorship</h1>
      </div>
      <div class="col-md-6">
        
          <img class="border border-secondary-subtle shadow w-100"
            src="{%static 'blog/mentorship-photo.jpg'%}">
       
          <p class="my-4"><a class="btn btn-lg btn-primary fw-semibold shadow" href="#">Become An Ambassador</a></p>
      </div>
      <div class="col-md-6 text-center">
        <div class="ms-2 my-5">
          <h2 class="fs-3 fw-semibold m-md-5">Get Expert Advice</h2>
          <p class="fst-italic fs-4 m-md-5">Get expert advice of others who have made it in the field of medicine.
            Enjoy career enlightment as you embark on your medical journery.
            Network with a team of like minded peers.
            have access to mentorship sessions that help you progress in your medical journey!
          </p>
        </div> 

      </div>
    </div>
  </div>
</section>
<section id="what-we-do">
  <div class="text-center">
    <h1 class="fs-1 fw-bolder text-primary-emphasis">Our Work</h1>
    <div class="w-50 mx-auto">
      <p class="fs-5 m-md-5 fst-italic">
          We stand for the use of various means to equip
        others with everything they need in order to contribute 
        meaningfully to the development of their communities.
      </p> 
    </div>
   
  </div>
        <div class="container-fluid">
        <div class="row mx-5 d-flex justify-content-center">
        <div class="col-md-6">
          <div class="card my-2 border border-0">
            <img src="{% static 'blog/new_try_photo3.png' %}" alt="" class="card-img-top w-100 rounded">
            <div class="card-body">
              <h4 class="card-title">Career Development</h4>
              <p class="card-text w-50">Learn how to develop your career. Interact with others in the field and learn
                from them. Fostering connections and sharing information </p>
              <a  href="#"><strong>READ MORE…</strong></a>
            </div>
          </div> 
        </div>


          <div class="col-md-6">
            <div class="card my-2 border border-0">
              <img src="{% static 'blog/new_try_photo3.png' %}" alt="" class="card-img-top w-100 rounded">
              <div class="card-body">
                <h2 class="card-title">Student Ambassador Program</h2>
                <p class="card-text w-50">Make a meaningful impact by sharing your passion and connecting with like minded
                  peers and doctors</p>
                  <a href="#"><strong>READ MORE…</strong></a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card my-2 border border-0">
              <img src="{% static 'blog/new_try_photo3.png' %}" alt="" class="card-img-top w-100 rounded">
              <div class="card-body">
                <h4 class="card-title">Mentor</h4>
                <p class="card-text w-50">Shape the future. Guide aspiring minds and make a lasting impact on the next
                  generation. Join us in building brighter futures together</p>
                  <a href="#"><strong>READ MORE…</strong></a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card my-2 border border-0">
              <img src="{% static 'blog/new_try_photo3.png' %}" alt="" class="card-img-top w-100 rounded">
              <div class="card-body">
                <h4 class="card-title">Shape the future</h4>
                <p class="card-text w-50">Shape the future. Guide aspiring minds and make a lasting impact on the next
                  generation. Join us in building brighter futures together</p>
                  <a href="#"><strong>READ MORE…</strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<style>
</style>
<section id="health-education" class="p-3 gradient">
  <div class="col-sm-12 text-center">
    <h1 class="fs-1 fw-bolder text-primary-emphasis" >Health Education</h1>
  </div>
  <div class="container my-5 text-center">
    <div class="row">
      <div class="col-md-4 my-5">
        <div class="d-flex justify-content-center">
          <div class="card w-75 card-rounded shadow border border-secondary-subtle">
            <img src="{% static 'blog/mentalhealth.jpg' %}" alt="" class="card-img-top card-image mx-auto rounded object-fit-cover">
            <div class="card-body">
              <h4 class="card-title">Mental Health</h4>
              <p class="card-text">Learn about Mental health and how you can manage it you can face your challenges </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-5">
        <div class="d-flex justify-content-center">
          <div class="card w-75 shadow card-rounded border-secondary-subtle">
            <img src="{% static 'blog/hypertension.jpg' %}" alt=""
              class="card-img-top card-image mx-auto rounded object-fit-cover">
            <div class="card-body">
              <h4 class="card-title">Hypertenstion</h4>
              <p class="card-text">Learn about the dangers of Hypertension and how you can prevent it. For prevention is better than cure</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-5">
        <div class="d-flex justify-content-center">
          <div class="card w-75 shadow card-rounded border-secondary-subtle">
            <img src="{% static 'blog/breastcancer.jpeg' %}" alt="" class="card-img-top card-image mx-auto rounded object-fit-cover">
            <div class="card-body">
              <h4 class="card-title">Breast Cancer</h4>
              <p class="card-text">Join the exhilarating conversation that will be had on breast cancer from presentation all the way to treatment</p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end"><a class="btn btn-primary fw-semibold" href="#">See more</a></div>
    </div>
  </div>
</section>
<section id="news" class="my-5 p-5">
  <div class="text-center">
    <h1 class="fs-1 fw-bolder text-primary-emphasis">News</h1>
    <div class="w-50 mx-auto">
      <p class="fs-5 m-md-5 fst-italic">
        
          We stand for the use of various means to equip
        others with everything they need in order to contribute 
        meaningfully to the development of their communities.
        
      </p> 
    </div>
  </div>
  <div class="container-fluid" >
    <div class="row">
      <div class="col-md-6 my_new mt-md-3 mb-md-3 mb-3 w-md-50 p-2" >
        <h5 class="card-title" style="color: white;">Card title</h5>
            <p class="card-text" style="color: white;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text" style="color: white;"><small>Last updated 3 mins ago</small></p>
      </div>
      <div class="col-md-6 p-0 p-md-2">
        <div class="container p-1 p-md-2">
          <div class="row">
            <div class="col-4 mx-0 my_new p-0" >
            <!-- <img src="{% static 'blog/new_try_photo3.png' %}" class="w-100"> -->
            </div>
            <div class="col-8 bg-secondary-subtle w-md-50 p-md-2" >
              <div class="card-body">
                <h4 class="card-title">Mentor</h4>
                <p class="card-text">Shape the future. Guide aspiring minds and make a lasting impact on the next
                  generation. Join us in building brighter futures together</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container p-1 p-md-2 pt-md-0">
          <div class="row">
            <div class="col-4 mx-0 just_image p-0">
            <!-- <img src="{% static 'blog/new_try_photo3.png' %}" class="w-100"> -->
            </div>
            <div class="col-8 bg-secondary-subtle w-md-50 p-md-2">
              <div class="card-body">
                <h4 class="card-title">Mentee</h4>
                <p class="card-text">Shape the future. Guide aspiring minds and make a lasting impact on the next
                  generation. Join us in building brighter futures together</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}