{% extends "blog/layout.html" %}
{% load static %}
{% block title %} Doctors Leadership Index {% endblock %}
{% block body %}
<!-- TODO: complete the landing Page -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active max-height-carousel" >
      <img src="{% static 'blog/image_22.jpg' %}" class="d-block w-100 h-50"
        alt="members of doctors leadership academy">
      <div class="container">
        <div class="carousel-caption center-caption">
          <h1 class="fs-1 fw-bolder">Doctor's Leadership Academy</h1>
          <p class="opacity-100 fw-medium fw-lighter fst-italic">Helping Young Doctors Navigate their Careers and Helping Society Understand health.</p>
          <p><a class="btn btn-lg btn-primary fw-semibold shadow" target="_blank" href="#">Join Us</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item max-height-carousel">
      <img src="{% static 'blog/image_11.jpg' %}" class="d-block w-100 h-50"
        alt="members of doctors leadership academy">
      <div class="container">
        <div class="carousel-caption center-caption">
          <h1 class="fs-1 fw-bolder">Mentorhsip At It's Best</h1>
          <p class="opacity-100 fw-medium fw-lighter fst-italic">Have access to a great array of Mentors to help you grow in your career</p>
          <p><a class="btn btn-lg btn-primary fw-semibold shadow" href="#">Become An Ambassador</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<section id="mentorship">
  <div class="container-fluid">
    <div class="row mx-5">
      <div class="col-sm-12 text-center mb-2 mb-md-5">
        <h1 class="fs-1 fw-bolder text-primary-emphasis">Mentorship</h1>
      </div>
      <div class="col-md-6">
        
          <img class="border b object-fit-cover order-secondary-subtle shadow w-100"
            src="{%static 'blog/image_3.jpg'%}">
       
          <p class="my-4"><a class="btn btn-lg btn-primary fw-semibold shadow" href="#">Become An Ambassador</a></p>
      </div>
      <div class="col-md-6 text-center">
        <div class="ms-2 my-5">
          <h2 class="fs-3 fw-semibold m-md-5">Get Expert Advice</h2>
          <p class="fst-italic fs-4 m-md-5">Get expert advice of others who have made it in the field of medicine.
          </p>
        </div> 

      </div>
    </div>
  </div>
</section>
<section id="what-we-do">
  <div class="text-center">
    <h1 class="fs-1 fw-bolder text-primary-emphasis">Our Work</h1>
    <div class="w-50 mx-auto">
      <p class="fs-5 m-md-5 fst-italic">
          We stand for the use of various means to equip
        others with everything they need in order to contribute 
        meaningfully to the development of their communities.
      </p> 
    </div>
   
  </div>
        <div class="container-fluid">
        <div id="our-work-display" class="row mx-5 d-flex justify-content-center">
        </div>
      </div>
</section>
<style>
</style>
<section id="health-education" class="p-3 gradient">
  <div class="col-sm-12 text-center">
    <h1 class="fs-1 fw-bolder text-primary-emphasis" >Health Education</h1>
  </div>
  <div class="container my-5 text-center">
    <div id="health" class="row">
    </div>
  </div>
</section>
<section class="my-5 p-5">
  <div class="text-center">
    <h1 class="fs-1 fw-bolder text-primary-emphasis">News</h1>
    <div class="w-50 mx-auto">
      <p class="fs-5 m-md-5 fst-italic">
        
          We stand for the use of various means to equip
        others with everything they need in order to contribute 
        meaningfully to the development of their communities.
        
      </p> 
    </div>
  </div>
  <div class="container-fluid" >
    <div id="news" class="row">
      <div class="col-md-6">
        <div class="container p-1 pb-md-2 pt-md-0">
          <div class="row row1">            
          </div>
        </div>
        <div class="container p-1 p-md-2 pt-md-0">
          <div class="row row1">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="{% static 'javascript/fetcher.js' %}"></script>
{% endblock %}