{% extends "blog/layout.html" %}
{% load static %}
{% block title %} Doctors Leadership Index {% endblock %}
{% block body %}
<!-- TODO: complete the landing Page -->
<div id="myCarousel" class="carousel slide mb-2" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <div class="justify-content-center">
          <img class="w-100" src="{% static 'blog/doctorsLA2.jpg'%}">
        </div>
        
        <div class="container">
          <div class="carousel-caption position-absolute top-50 start-50 translate-middle text-center">
            <h1>Example headline.</h1>
            <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item h-25">
        <div class="justify-content-center"> 
          <img class="w-100" src="{% static 'blog/doctorsLA1.jpg'%}">
        </div> 
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item h-25">
        <div class="justify-content-center">
          <img class="w-100" src="{% static 'blog/doctorsLA1.jpg'%}">  
        </div> 
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section id="mentorship">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center"><h1>Mentorship</h1></div>
        <div class="col-md-6 my-auto text-center">
          <h3>Get Expert Advice</h3>
          <p>Get expert advice of others who have made it in the field of medicine.
            Enjoy career enlightment as you embark on your medical journery.
            Network with a team of like minded peers.
            have access to mentorship sessions that help you progress in your medical journey!
          </p>
        </div>
        <div class="col-md-6"><img class="w-100" src="{%static 'blog/mentorship-photo.jpg'%}"></div>
        <div class="container my-5 text-center"><div class="row gx-2">
          <div class="col-md-4 my-5"><div class="card"><div class="card-body "><h2>Career Development</h2></div></div></div>
          <div class="col-md-4 my-5"><div class="card"><div class="card-body"><h2>Student Ambassador Program</h2></div></div></div>
          <div class="col-md-4 my-5"><div class="card"><div class="card-body"><h2>Become a Mentor</h2></div></div></div>
        </div></div>
      </div>   
    </div>
  </section>
  <section id="health-education">
    <div class="col-sm-12 text-center"><h1>Health Education</h1></div>
    <div class="container my-5 text-center"><div class="row gx-2">
      <div class="col-md-4 my-5"><div class="card"><div class="card-body "><h2>Career Development</h2></div></div></div>
      <div class="col-md-4 my-5"><div class="card"><div class="card-body"><h2>Student Ambassador Program</h2></div></div></div>
      <div class="col-md-4 my-5"><div class="card"><div class="card-body"><h2>Become a Mentor</h2></div></div></div>
    </div></div>
  </section>

{% endblock %}